#search_form {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  margin: 0px;
  font-family: Roboto;
}

#topNav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  min-width: 50px;
  background-color: #B81F30
}

#topNav > div {
  display: flex;
  align-items: center;
  color: white;
  flex: 0.5;
}

#topNav > .leftDiv {
  justify-content: flex-start;
  padding-left: 20px;
}

#topNav > .rightDiv {
  justify-content: flex-end;
  padding-right: 20px;
}

#categoriesDiv {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.categoryButton {
  width: 120px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin: 10px;
  color: #6B6B6B;
  font-family: Roboto, sans-serif;
}

#eventList {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.eventDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  border: 2px solid #bbbbbb;
  margin: 17px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 2px;
}

.eventDivLeft {
  display: flex;
  flex: 0.3;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 100px;
}

.eventDivRight {
  flex-direction: column;
  flex: 0.7;
}

.signUpButton {
  width: 60%;
  height: 40px;
  background-color: #B81F30;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: "500";
}

.contentDiv {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.contentDiv > div {
  flex: 0.5;
}

.eventInfoDiv {
  padding: 10px;
  width: 50%;
}

.signupFormDiv {
  padding: 10px;
  width: 50%;
}
